<html>
<head>

	<link rel="stylesheet" href="css/boostrap.min.css">
	<link rel="stylesheet" href="css/override.css">

	<title>Budge-It!</title>

</head>
<body>

	<div class="generalpadding"></div>

	<div class="container">
		<h3>Wishlist</h3>
	</div>

	<!-- So page doesn't cut off before the footer menu -->
	<div class="generalpadding"></div>

	<!-- Footer menu -->
	<div class="col-xs-12 fullwidth bottom">
		<div class="btn-group btn-group-justified">
			<a href="/" class="btn btn-default">
				<span class="glyphicon glyphicon-th-list"></span><br>
				Overview
			</a>
			<a href="expenses" class="btn btn-default">
				<span class="glyphicon glyphicon-usd"></span><br>
				Expensess
			</a>
			<a href="budget" class="btn btn-default">
				<span class="glyphicon glyphicon-object-align-bottom"></span><br>
				Budget
			</a>
			<a href="wishlist" class="btn btn-default active">
				<span class="glyphicon glyphicon-star"></span><br>
				Wishlist
			</a>
		</div>
	</div>

</body>
</html>